.home-work {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    .img {

        img {
            border: 0.5rem solid rgb(234 179 8);
            height: 500px;
        }
    }

    .container-button {

        .button {
            margin: 1rem;
            border:  0.3rem solid rgb(68, 64, 60);

            &.active {
                border:  0.3rem solid black;
            }

        }

    }
}

